<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cxy.svspcxy.mapper.ReviewMapper">
    <insert id="add">
        insert into t_review values(null, #{vid}, #{uid}, #{content}, now(), 'review_commit')
    </insert>

    <select id="findByVid" resultType="edu.cxy.svspcxy.entity.Review">
        SELECT u.account,u.avatar,r.id,r.vid,r.uid,r.content,r.time
        FROM t_user u,t_review r
        WHERE u.id = r.uid AND r.vid = #{vid} AND r.state = 'review_pass'
    </select>
</mapper>
