<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cxy.svspcxy.mapper.VideoMapper">
    <select id="findByUid" resultType="edu.cxy.svspcxy.entity.Video">
        select * from t_video where uid = #{uid}
    </select>

    <!--useGeneratedKeys：是否要用户当前这条数据的id-->
    <!--keyProperty：用形参的哪个属性来接收id的值-->
    <insert id="addVideo" useGeneratedKeys="true" keyProperty="id">
        insert into t_video values(null, #{uid}, #{title}, #{video}, #{cover}, now(), 0, null, null, 'video_commit')
    </insert>

    <!--id: 10    cids:[1,2,3]
        forEach
        for(int cid : cids)
    -->
    <insert id="addVideoCategory">
        insert into t_video_category values
        <foreach collection="cids" item="cid" separator=",">
            (#{id}, #{cid})
        </foreach>
    </insert>

    <update id="addTaskId">
        update t_video set taskid = #{taskId} where id = #{id}
    </update>

    <select id="findByStateCommit" resultType="edu.cxy.svspcxy.entity.Video">
        select * from t_video where state = 'video_commit'
    </select>

    <update id="updateState">
        update t_video set reason = #{reason},state = 'video_pass' where id = #{id}
    </update>
</mapper>
