<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cxy.svspcxy.mapper.VideoMapper">
    <select id="findByUid" resultType="edu.cxy.svspcxy.entity.Video">
        select * from t_video where uid = #{uid}
    </select>

    <insert id="addVideo">
        insert into t_video values(null, #{uid}, #{title}, #{video}, #{cover}, now(), 0, null, null, 'video_commit')
    </insert>
</mapper>
